body {
    background: #24353f;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}
input, textarea {
    background-color: transparent !important;
    color: #00ffe3 !important;
}
input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
input::placeholder,
textarea::placeholder {
    color: rgb(233 224 224) !important;
}
.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}
